:root {
    --bg-color: #f9f9f9; 
    --text-color: #333; 
    --accent-color: #CE5B61; 
    --input-bg: #fff; 
    --button-bg: #fa6f76; 
    --button-hover-bg: #CE5B61; 
    --border-color: #d3d3d3; 
    --highlight: #ffe5e0; 
}

/* gral */

body {
    font-family: 'Gill Sans', sans-serif;
    background-image: url('/images/bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); 
    z-index: -1; 
}

a {
    color: #CE5B61;
    text-decoration: none;
    transition: all 0.3s ease; 
}

a:hover {
    color: #fa6f76;
    text-decoration: none;
}

/* header */
header {
    display: flex;
    align-items: center;            
    justify-content: center;        
    width: 100%;
    gap: 15px;                      
    padding: 10px 20px;
    margin: 0 auto;      
    background-color: #fff;           
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    font-weight: bold;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;                 
    margin: 0 auto;                    
    padding: 0 20px;                   
}

/* logo */
.logo-container {
    flex: 1;                        
    text-align: center;          
}

header img.logo {
    height: 100px;                   
    max-width: 100%;                
}

/* nav links */
.header-content a {
    text-decoration: none;
    font-size: 1em;
    color: #CE5B61;
    transition: color 0.3s ease, font-size 0.3s ease;
}


.header-content a:hover {
    color: #fa6f76;
    font-size: 1.05em;                 
}

.header-content a i {
    font-size: 1em;
    color: #CE5B61;
    transition: color 0.3s ease;
}

.header-content a:hover i {
    color: #fa6f76;
}

* {
    box-sizing: border-box;
}

/* main */
main {
    flex-grow: 1;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
}

/* footer */
footer {
    background-color: var(--accent-color);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
    margin-top: auto;
}

/* forms */
.form-container {
    background-color: var(--bg-color);
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container h1, .form-container h2 {
    color: var(--text-color);
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.form-container label {
    color: var(--text-color);
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="number"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--input-bg);
    color: var(--text-color);
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-sizing: border-box;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="number"]:focus,
.form-container textarea:focus {
    border-color: var(--accent-color);
    background-color: var(--highlight);
    outline: none;
}

/* form button */
.form-container button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: var(--button-bg);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button[type="submit"]:hover {
    background-color: var(--button-hover-bg);
}

